<div class="container">
<main>
<div class="py-5" style="display: flex;
flex-direction: column;
align-items: center;">
<h1>Create New Project</h1>
<%= render 'form', project: @project %>

</div>
</main>
</div>