<div class="container">
<main>
<div class="py-5" style="display: flex;
flex-direction: column;
align-items: center;">
<h1>Create New Bug</h1>
<%= render 'form', project: @project, bug:@bug %>

</div>
</main>
</div>